.cart-item-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.title-ellipsis {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.bi-trash3 {
  cursor: pointer;
}